body {
    background-color: rgb(218, 218, 218);
    background-position: center;
    background-size: 100% auto;
  }

  ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(165, 45, 70);
  }

  li.linav{
    float: left;
  }

  li.linav a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.linav a.active{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.linav a:hover{
    background-color: rgb(235, 15, 45);
  }

  span.subtitle{
    font-size: 10pt;
    color: #000000;
    font-family: verdana;
  }

  span.maintitle{
    font-size: 20pt;
    color: #000000;
    font-family: verdana;
  }

  a.nav{
    font-size: 9pt;
    color: #000000;
    font-family: verdana;
    text-decoration: none;
  }

  a.nav:hover{
    font-size: 11pt;
    color: #000000;
    font-family: verdana;
    text-decoration: none;
  }

  #page_wrapper{
    border-radius: 5px;
    border: 2px solid #333333;
    padding: 10px;
    height: 100px;
    width: 100px;
    background: rgb(102, 102, 102, 0.85);
  }

  div.index1{
    background-color: rgba(220, 0, 0, 0.75);
    width: 100%;
    height: 750px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }

  div.index2{
    background-color: rgba(0, 220, 0, 0.685);
    width: 100%;
    height: 750px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }

  div.index3{
    background-color: rgba(0, 0, 220, 0.75);
    width: 100%;
    height: 750px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }

  div.index4{
    background-color: rgba(110, 110, 110, 0.925);
    width: 100%;
    height: 750px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
  
  table.tbl-1{
    width: 100%;
    padding: 10px;
  }
  
  td.td-1{
    width: 25%;
    padding: 12px;
  }
  
  h1.center{
    text-align: center;
  }

  .container1 {
    font-family: arial;
    font-size: 24px;
    width: 250px;
    height: 200px;
    float: left;
    margin-top: 20%;
    margin-left: 3%;
  }
  p {
    /* Center horizontally*/
    text-align: center;
  }

  #td {
    padding: 20px;
  }

  #table {
    margin-top: 20px;
  }

  #devs {
    text-align: left;
    text-decoration: underline;
    font-size: 50;
    margin-left: 150px;
  }

  #td2 {
    padding: 20px;
  }

  #devs2 {
    text-align: right;
    text-decoration: underline;
    font-size: 50;
    margin-left: 150px;
  }

  #return {
    font: 20;
    text-decoration: none;
    color: #000000;
  }

  #returndiv {
    border: #000000;
    border-width: 5px;
  }