body {
    background-image: url('../../images/rog.gif');
    background-position: center;
    background-size:100% auto;
  }

  ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: o;
    overflow: hidden;
    background-color: rgb(165, 45, 70);
  }

  li.linav{
    float: left;
  }

  li.linav a{
    display: block;
    color: rgb(0, 255, 235);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.linav a.active{
    display: block;
    color: rgb(0, 255, 235);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.linav a:hover{
    background-color: rgb(235, 15, 45);
  }